@font-face {
    font-family: "Lato-Bold";
    src: url(../assets/fonts/Lato-Bold.woff), 
         url(../assets/fonts/Lato-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: "Lato-Regular";
    src: url(../assets/fonts/Lato-Regular.woff),
         url(../assets/fonts/Lato-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Rufina-Bold";
    src: url(../assets/fonts/Rufina-Bold.woff),
         url(../assets/fonts/Rufina-Bold.woff2);
    font-weight: 700;
}