:root{
    --color--dark-green: #233000;
    --color--light-green: #5e6600;
    --color--yellow: #9caa00;
    --color--dark-white: #ebf0e4;
    --color--black: #000000;
    --color--dark-gray: #4d4d4d;
    --color--light-gray: #b0b0b0;
    --color--white: #ffffff;
}