<section class="navigation" id="navigation">
    <div class="navigation-overlay">
        <button class="navigation-button-close" id="navigationClose" onclick="buttonNavigation('close')">
            <img src="../../../assets/images/dist/navigation-close-button.svg" alt="">
        </button>
        <div class="navigation-content">
            <div class="navigation-links_list">
                <a class="navigation-links_list-item" href="index.html">
                    <img class="navigation-links_list-item_img" src="../../../assets/images/dist/navigation-dot.svg"
                        alt="">
                    <p class="nav-item navigation-links_list-item_text">
                        HOME
                    </p>
                </a>
                <a class="navigation-links_list-item" href="menu.html">
                    <img class="navigation-links_list-item_img" src="../../../assets/images/dist/navigation-dot.svg"
                        alt="">
                    <p class="nav-item navigation-links_list-item_text">
                        MENU
                    </p>
                </a>
                <div class="navigation-blog">
                    <div class="navigation-blog-title">
                        <img class="navigation-links_list-item_img" src="../../../assets/images/dist/navigation-dot.svg"
                            alt="">
                        <p class="nav-item navigation-links_list-item_text">
                            BLOGS
                        </p>
                    </div>
                    <div class="navigation-blog-main">
                        <div class="navigation-blog-main_list">
                            <a class="nav-subitem navigation-blog-main_list__item" href="blogs.html">1 Coloumn</a>
                            <a class="nav-subitem navigation-blog-main_list__item" href="blogs.html">2 Coloumns</a>
                            <a class="nav-subitem navigation-blog-main_list__item" href="blogs.html">Sidebar Post</a>
                        </div>
                    </div>
                </div>
                <a class="navigation-links_list-item" href="about.html">
                    <img class="navigation-links_list-item_img" src="../../../assets/images/dist/navigation-dot.svg"
                        alt="">
                    <p class="nav-item navigation-links_list-item_text">
                        ABOUT
                    </p>
                </a>
                <a class="navigation-links_list-item" href="contact.html">
                    <img class="navigation-links_list-item_img" src="../../../assets/images/dist/navigation-dot.svg"
                        alt="">
                    <p class="nav-item navigation-links_list-item_text">
                        CONTACTS
                    </p>
                </a>
            </div>
            <div class="navigation-contact">
                <h6 class="navigation-contact_title">
                    Contact
                </h6>
                <p class="navigation-contact_contact widget-texts">
                    +86 852 346 000
                    info@foodzero.com
                </p>
                <p class="widget-texts navigation-contact_adress">
                    1959 Sepulveda Blvd.
                    Culver City, CA, 90230
                </p>
                <ul class="navigation-contact_link-list">
                    <li class="navigation-content_link-list_item">
                        <button class="navigation-content_link-list_item-button">
                            <img class="navigation-content_link-list_item__img" src="../../../assets/images/dist/Icon_instagram.svg" alt="">
                        </button>    
                    </li>
                    <li class="navigation-content_link-list_item">
                        <button class="navigation-content_link-list_item-button">
                            <img class="navigation-content_link-list_item__img" src="../../../assets/images/dist/Icon_twitter.svg" alt="">
                        </button>    
                    </li>
                    <li class="navigation-content_link-list_item">
                        <button class="navigation-content_link-list_item-button">
                            <img class="navigation-content_link-list_item__img" src="../../../assets/images/dist/Icon_facebook.svg" alt="">
                        </button>    
                    </li>
                    <li class="navigation-content_link-list_item">
                        <button class="navigation-content_link-list_item-button">
                            <img class="navigation-content_link-list_item__img" src="../../../assets/images/dist/Icon_youtube.svg" alt="">
                        </button>    
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>