<section class="navigation" id="navigation">
    <div class="navigation-overlay">
        <button class="navigation-button-close" id="navigationClose" onclick="buttonNavigation('close')">
            <img src="../../../assets/images/dist/navigation-close-button.svg" alt="">
        </button>
        <div class="navigation-content">
            <div class="navigation-links__list">
                <a class="navigation-links__list-item" href="index.html">
                    <img class="navigation-links__list-item__img" src="../../../assets/images/dist/navigation-dot.svg"
                        alt="">
                    <p class="nav-item navigation-links__list-item__text">
                        HOME
                    </p>
                </a>
                <a class="navigation-links__list-item" href="menu.html">
                    <img class="navigation-links__list-item__img" src="../../../assets/images/dist/navigation-dot.svg"
                        alt="">
                    <p class="nav-item navigation-links__list-item__text">
                        MENU
                    </p>
                </a>
                <div class="navigation-blog">
                    <div class="navigation-blog-title">
                        <img class="navigation-links__list-item__img" src="../../../assets/images/dist/navigation-dot.svg"
                            alt="">
                        <p class="nav-item navigation-links__list-item__text">
                            BLOGS
                        </p>
                    </div>
                    <div class="navigation-blog-main">
                        <div class="navigation-blog-main__list">
                            <a class="nav-subitem navigation-blog-main__list-item" href="blogs.html">1 Coloumn</a>
                            <a class="nav-subitem navigation-blog-main__list-item" href="blogs.html">2 Coloumns</a>
                            <a class="nav-subitem navigation-blog-main__list-item" href="blogs.html">Sidebar Post</a>
                        </div>
                    </div>
                </div>
                <a class="navigation-links__list-item" href="about.html">
                    <img class="navigation-links__list-item__img" src="../../../assets/images/dist/navigation-dot.svg"
                        alt="">
                    <p class="nav-item navigation-links__list-item__text">
                        ABOUT
                    </p>
                </a>
                <a class="navigation-links__list-item" href="contact.html">
                    <img class="navigation-links__list-item__img" src="../../../assets/images/dist/navigation-dot.svg"
                        alt="">
                    <p class="nav-item navigation-links__list-item__text">
                        CONTACTS
                    </p>
                </a>
            </div>
            <div class="navigation-contact">
                <h6 class="navigation-contact__title">
                    Contact
                </h6>
                <p class="navigation-contact__contact widget-texts">
                    +86 852 346 000
                    info@foodzero.com
                </p>
                <p class="widget-texts navigation-contact__adress">
                    1959 Sepulveda Blvd.
                    Culver City, CA, 90230
                </p>
                <ul class="navigation-contact__link-list">
                    <li class="navigation-content__link-list__item">
                        <button class="navigation-content__link-list__item-button">
                            <img class="navigation-content__link-list__item-img" src="../../../assets/images/dist/Icon__instagram.svg" alt="">
                        </button>    
                    </li>
                    <li class="navigation-content__link-list__item">
                        <button class="navigation-content__link-list__item-button">
                            <img class="navigation-content__link-list__item-img" src="../../../assets/images/dist/Icon__twitter.svg" alt="">
                        </button>    
                    </li>
                    <li class="navigation-content__link-list__item">
                        <button class="navigation-content__link-list__item-button">
                            <img class="navigation-content__link-list__item-img" src="../../../assets/images/dist/Icon__facebook.svg" alt="">
                        </button>    
                    </li>
                    <li class="navigation-content__link-list__item">
                        <button class="navigation-content__link-list__item-button">
                            <img class="navigation-content__link-list__item-img" src="../../../assets/images/dist/Icon__youtube.svg" alt="">
                        </button>    
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>