<section class="header">
    <div class="wrapper header-wrapper">
        <div class="header-title">
            <img class="header-title_logo" src="../../../assets/images/dist/Logo.png" alt="">
            <button class="header-title_burger__button" id="headerBurger" onclick="buttonNavigation('open')">                   
                <img class="header-title_burger__image" id="" src="../../../assets/images/dist/burger.png" alt="">
            </button>
        </div>
        <div class="header-contacts">
            <p class="header-contacts_contact inter">
                +86 852 346 000
            </p>
            <a class="header-contacts_button" href="#reservation">
                Reservation
            </a>
        </div>
    </div>
</section>