<section class="reservation" id="reservation">
    <div class="wrapper reservation-wrapper">
        <div class="reservation-top">
            <h2>
                Make a reservation
            </h2>
            <p class="this-is-body reservation-top_description">
                Get in touch with restaurant
            </p>
        </div>
        <div class="reservation-content">
            <input class="this-is-body reservation-content_input-date reservation-content_input" id="reservationDate" placeholder="дд/мм/гггг" type="text">
            <select class="this-is-body reservation-content_input-time reservation-content_input" id="reservationTime">
                <option value="date1">9:00 am</option>
                <option value="date2">10:00 am</option>
                <option value="date3">11:00 am</option>
                <option value="date4">12:00 am</option>
                <option value="date5">1:00 pm</option>
                <option value="date6">2:00 pm</option>
                <option value="date7">3:00 pm</option>
                <option value="date8">4:00 pm</option>
                <option value="date9">5:00 pm</option>
                <option value="date10">6:00 pm</option>
                <option value="date11">7:00 pm</option>
                <option value="date12">8:00 pm</option>
                <option value="date13">9:00 pm</option>
                <option value="date14">10:00 pm</option>
                <option value="date15">11:00 pm</option>
            </select>
            <select class="this-is-body reservation-content_input-persons reservation-content_input" id="reservationPerson">
                <option value="pers1">1 Person</option>
                <option value="pers2">2 Person</option>
                <option value="pers3">3 Person</option>
                <option value="pers4">4+ Person</option>
            </select>
        </div>
        <button class="reservation-button" id="reservationButton" onclick="bookNow()">
            <h6 class="reservation-button_text">Book Now</h6>   
        </button>
    </div>
</section>