<section class="about-story">
    <div class="wrapper about-story-wrapper">
        <div class="abstory__content">
            <h2>
                Our Story
            </h2>
            <p class="this-is-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus lorem id penatibus imperdiet. Turpis
                egestas ultricies purus auctor tincidunt lacus nunc.
            </p>
        </div>
        <img class="abstory__image" src="../../../assets/images/dist/about-story-image.png" alt="">
        <img class="abstory__vector" src="../../../assets/images/dist/about-story-svg.svg" alt="">
    </div>
</section>