<section class="features-container">
    <div class="wrapper features-wrapper">
        <div class="features_column">
            <img src="assets/images/dist/icon_fish.svg" alt="" class="features_img">
            <h4 class="h4_features__text">Premium Quality</h4>
            <p class="this-is-body features_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque congue arcu</p>
        </div>
        <div class="features_column">
            <img src="assets/images/dist/icon_carrot (1).svg" alt="" class="features_img">
            <h4 class="h4_features__text">Seasonal Vegetables</h4>
            <p class="this-is-body features_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque congue arcu</p>
        </div>
        <div class="features_column">
            <img src="assets/images/dist/icon_lemon.svg" alt="" class="features_img">
            <h4 class="h4_features__text">Fresh Fruit</h4>
            <p class="this-is-body features_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque congue arcu</p>
        </div>
    </div>
</section>