<section class="footer">
    <div class="footer-main">
        <div class="wrapper footer-main_wrapper">
            <h4 class="footer-main_title">
                Food Zero.
            </h4>
            <div class="footer-main_contacts">
                <h6 class="footer-main_contacts__heading">
                    Contact
                </h6>
                <p class="widget-texts footer-main_contacts__contact">
                    +1+86 852 346 000 info@foodzero.com
                </p>
                <p class="widget-texts footer-main_contacts__info">
                    1959 Sepulveda Blvd. Culver City, CA, 90230
                </p>
            </div>
            <div class="footer-main_recipe">
                <h6>
                    Never Miss a Recipe
                </h6>
                <div class="footer-main_recipe_mail">
                    <input class="footer-main_recipe__input this-is-body" id="subscripeInput" type="text" placeholder="Email adress">
                    <button onclick="subscripe()" class="footer-main_recipe__button" id="subscripeButton">
                        Subscripe
                    </button>
                   
                </div>
                <p class="widgets-comments">
                    Join our subscribers and get best recipe delivered each week!
                </p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrapper footer-bottom_wrapper">
            <p class="this-is-body footer-links_rights">
                © 2020 Zero Inc. All rights Reserved
            </p>
            <div class="footer-bottom_links">
                <ul class="footer-bottom_links__list">
                    <li class="footer-bottom_links__list-item">
                        <button class="footer-bottom__list-item_button">
                            <img class="footer-bottom__list-item_bottom__icon" src="../../../assets/images/dist/Icon_instagram.svg" alt="">
                        </button>
                    </li>
                    <li class="footer-bottom_links__list-item">
                        <button class="footer-bottom__list-item_button">
                            <img class="footer-bottom__list-item_bottom__icon" src="../../../assets/images/dist/Icon_twitter.svg" alt="">
                        </button>
                    </li>
                    <li class="footer-bottom_links__list-item">
                        <button class="footer-bottom__list-item_button">
                            <img class="footer-bottom__list-item_bottom__icon" src="../../../assets/images/dist/Icon_facebook.svg" alt="">
                        </button>
                    </li>
                    <li class="footer-bottom_links__list-item">
                        <button class="footer-bottom__list-item_button">
                            <img class="footer-bottom__list-item_bottom__icon" src="../../../assets/images/dist/Icon_youtube.svg" alt="">
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>