.about-story-wrapper {
    display: flex;
    column-gap: 107px;

    .abstory__content {
        width: 668px;
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        padding-left: 77px;
        padding: 451px 0px 211px 0px;
    }

    .abstory__image {
        width: 792px;
        height: 576px;
        margin-top: 218px;
    }

    .abstory__vector {
        position: absolute;
        stroke-width: 1px;
        top: 94px;
        left: 538px;
        z-index: 2;
    }
}