.menu-main-hero {
    display: flex;
    align-items: center;
    height: 1080px;
    width: 100%;
    background-image: url(../../assets/images/dist/menu-main-hero-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--color--white);
}

.menu-main-hero-wrapper {
    width: 780px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-left: 138px;
}

@media(max-width: 1366px) {
    .menu-main-hero {
        height: 767px;
    }

    .menu-main-hero-wrapper {
        width: 554px;
        row-gap: 36px;
        margin-left: 98px;
    }
}