<section class="chef-container">
    <div class="wrapper chef-wrapper">
        <div class="chef_images-wrapper">
            <img src="assets/images/dist/chef-men.png" alt="" class="chef_img__chef-man">
            <img src="assets/images/dist/chef-brown-board.png" alt="" class="chef_img__brown-board">
            <img src="assets/images/dist/chef-leaf-mini.png" alt="" class="chef_img__leaf-mini">
        </div>
        <div class="chef_text-wrapper">
            <h1>Excellent<br>cook</h1>
            <p class="this-is-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus lorem id penatibus imperdiet. Turpis egestas ultricies purus auctor tincidunt lacus nunc. </p>
            <img src="assets/images/dist/chef-leaf-big.png" alt="" class="chef_img__leaf-big">
        </div>
    </div>
</section>